/* THIS CODE IS MADE FOR ABOUT-PAGE */

@media screen and (min-width: 320px) {
  .image-parent {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .image-parent img {
    display: flex;
    width: 100%;
    padding-top: 10px;
  }

  .wrapper {
    max-width: fit-content;
  }

  #block1,
  #block2 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .image-parent img {
    max-width: 600px;
  }

  .wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  #block1,
  #block2 {
    max-width: 250px;
    margin-bottom: 100px;
  }
  .footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .image-parent {
    margin-top: 100px;
  }

  #block1,
  #block2 {
    max-width: 400px;
  }
}
