/* THIS CODE IS MADE FOR ABOUT-PAGE */

@media screen and (min-width: 320px) {
  .image-parent {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .image-parent img {
    display: flex;
    width: 100%;
    padding-top: 30px;
  }

  .wrapper {
    max-width: fit-content;
  }

  #block1,
  #block2 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .image-parent img {
    max-width: 600px;
  }

  .wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  #block1,
  #block2 {
    max-width: 250px;
  }
}

@media screen and (min-width: 1025px) {
  .image-parent {
    margin-top: 60px;
  }

  #block1,
  #block2 {
    max-width: 400px;
  }
}
