/** general code that apples to all pages **/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f5f5ee;
  margin: 0;
}

main {
  min-height: calc(100vh - 176px);
}

@media screen and (min-width: 320px) {
  .footer {
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 550px) {
  /* footer applies to all except contact-page & about page */

  .footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
  }
}

@media screen and (min-width: 1025px) {
  /* footer applies to all except contact-page */

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
  }
}
