@font-face {
  font-family: 'Jost';
  src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'JosefinSans';
  src: url(JosefinSans-VariableFont_wght.ttf);
}

@media screen and (min-width: 320px) {
  h1 {
    font-family: 'Jost';
    font-weight: 100;
  }

  h2 {
    font-family: 'Jost';
  }

  p {
    font-family: 'Jost';
    size: 16px;
    font-weight: regular;
  }

  .container {
    font-family: 'Jost';
    font-size: 12px;
  }

  .info {
    color: rgb(126, 126, 109);
    font-weight: 200;
  }

  footer {
    text-align: center;
    font-family: 'Jost';
  }

  .wrapper {
    font-family: 'Jost';
    text-align: left;
  }

  .options {
    font-family: 'Jost';
    text-align: left;
  }

  /*menu-page */
  h1 {
    font-size: 40px;
    font-weight: light;
  }

  /*contact-page */

  h2 {
    font-family: 'Jost';
    font-size: 30px;
    font-weight: regular;
  }
}

@media screen and (min-width: 550px) {
  .wrapper {
    font-family: 'Jost';
    text-align: left;
  }
  /*menu-page */
  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  /*contact-page */

  h2 {
    font-family: 'Jost';
    font-size: 30px;
    font-weight: 100;
  }
}

@media screen and (min-width: 1025px) {
  .about-ichiban {
    font-weight: light;
    font-size: 16px;
    text-align: left;
  }
  .wrapper {
    font-family: 'Jost';
    text-align: left;
  }

  /*menu-page */

  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  /*contact-page */

  h2 {
    font-family: 'Jost';
    font-size: 30px;
    font-weight: 100;
  }

  p {
    font-size: 16px;
  }
}
