/* THIS CSS-CODE IS MADE FOR STRICTLY CONTACT-PAGE */

@media screen and (min-width: 320px) {
  .contact {
    padding-top: 70px;
    display: flex;
    margin: 20px;
    max-width: fit-content;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  #contact1,
  #contact2,
  #contact3 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
  }

  #contact1 ul li,
  #contact2 ul li,
  #contact3 ul li {
    list-style: none;
    text-align: start;
  }
  .restaurants {
    text-align: start;
  }
}

@media screen and (min-width: 550px) {
  .footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: static;
  }
}

@media screen and (min-width: 1025px) {
  .contact {
    margin: auto;
    flex-direction: row;
  }

  #contact1,
  #contact2,
  #contact3 {
    max-width: 400px;
  }
}
