@media screen and (min-width: 320px) {
  .countdown {
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
  }

  .container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  button {
    background-color: #443434;
    margin-top: 100px;
    border: 0.5px solid;
    font-family: 'Jost';
    font-size: 27px;
    color: white;
    font-weight: 100;
    width: 200px;
    height: 70px;
  }
}

@media screen and (min-width: 550px) {
  .countdown {
    font-size: 50px;
  }

  button {
    width: 380px;
    height: 70px;
  }
}

@media screen and (min-width: 1025px) {
  .container img {
    width: 300px;
    height: 300px;
  }
}
