

nav {
  background-color:white;
  padding-right: 40px;
  padding-left: 40px;
  text-align: right;
  overflow-x: hidden;
  color: #443434;
}

a {
  color: #443434;
  font-family: "Jost";
  font-weight: 100;
  font-size: 30px;
  text-decoration: none;
  text-transform: lowercase;
  float: right;
  padding: 0.5em;

}

.header {
  text-align: center;
  align-items: left;
  color: rgb(45, 32, 32);

}

.header-image {
  display: flex;
  align-items: flex-end;



}

