@media screen and (min-width: 320px) {
  .header {
    text-align: center;
    align-items: left;
    color: rgb(45, 32, 32);
  }

  .header-image {
    text-align: center;
    align-items: center;
    color: rgb(45, 32, 32);
  }

  nav {
    background-color: white;
    font-size: 8px;
    padding-right: 40px;
    padding-left: 40px;
    overflow-x: hidden;
    color: #443434;
  }

  a {
    color: #443434;
    font-family: 'Jost';
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    float: right;
    padding: 0.5em;
  }
}

@media screen and (min-width: 550px) {
  .header-image {
    float: left;
  }

  a {
    font-weight: 100;
    font-size: 30px;
  }
}

@media screen and (min-width: 1025px) {
  a {
    font-size: 35px;
  }
}
