/** general code that apples to all screens **/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f5f5ee;
  margin: 0;
}

.countdown {
  font-size: 40px;
  font-weight: 100;
  margin-top: 70px;
  margin-bottom: 40px;
}

main {
  min-height: calc(100vh - 176px);
}

/* end of general code */

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
  }

  .container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  button {
    background-color: #443434;
    margin-top: 100px;
    border: 0.5px solid;
    font-family: 'Jost';
    font-size: 27px;
    color: white;
    font-weight: 100;
    width: 200px;
    height: 70px;
  }

  nav {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    color: #443434;
  }

  .footer {
    width: 100%;
    height: 70px;
    overflow-x: hidden;
    color: #443434;
  }

  /* about-page */
  .image-parent {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .image-parent img {
    display: flex;
    width: 100%;
    padding-top: 30px;
  }

  .wrapper {
    /* margin: auto; */
    max-width: fit-content;
  }

  #block1 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
  }
  #block2 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
  }

  /* menu-page */

  .specials {
    margin-top: 70px;
  }

  .options {
    margin: auto;
    max-width: fit-content;
  }

  #option1 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
    float: right;
  }

  #option2 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 100%;
    float: right;
  }

  /* contact-page*/

  .contact {
    margin-top: 200px;
  }

  .restaurants {
    text-align: left;
  }
}

@media screen and (min-width: 550px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
  }

  .container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  button {
    background-color: #443434;
    border: 0.5px solid;
    font-family: 'Jost';
    font-size: 27px;
    color: white;
    font-weight: 100;
    width: 380px;
    height: 70px;
  }

  /* about-page */
  .image-parent {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .image-parent img {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding-top: 30px;
  }
  .about-parent {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .about-ichiban {
    max-width: 300px;
  }

  .wrapper {
    margin: auto;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  #block1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 250px;
    float: right;
  }
  #block2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 250px;
    float: right;
  }

  /*menu-page */

  .options {
    display: flex;
    margin: auto;
    max-width: fit-content;
    justify-content: center;
    align-content: center;
  }

  #option1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 500px;
    float: right;
  }

  #price1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 500px;
    float: right;
  }

  #option2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 500px;
    float: right;
  }

  #price2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 500px;
    float: right;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
  }

  .container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    background-color: #443434;
    border: 0.5px solid;
    font-family: 'Jost';
    font-size: 27px;
    color: white;
    font-weight: 100;
    width: 380px;
    height: 70px;
  }

  /*about-page */
  .image-parent {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .image-parent img {
    display: flex;
    width: 100%;
    max-width: 700px;
    padding-top: 20px;
  }

  .wrapper {
    margin: auto;
    max-width: fit-content; /*The width you want it to be when centered*/
    /* min-width works too */
  }

  #block1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }
  #block2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  /*menu-page */

  .options {
    margin: auto;
    max-width: fit-content;
    /*The width you want it to be when centered*/
    /* min-width works too */
  }

  #option1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  #price1 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  #option2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  #price2 {
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  .footer {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }

  /*contact-page */

  .contact {
    padding-top: 70px;
    display: flex;
    margin: auto;
    max-width: fit-content;
    justify-content: center;
    align-content: center;

    /*The width you want it to be when centered*/
    /* min-width works too */
  }

  #contact1,
  #contact2,
  #contact3 {
    background-color: rgb(243, 243, 233);
    margin: 10px 20px;
    padding: 20px;
    max-width: 400px;
    float: right;
  }

  #contact3 ul li,
  #contact2 ul li,
  #contact1 ul li {
    list-style: none;
    text-align: start;
  }
}
