* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #F5F5EE;
  }
  }

  @font-face {
    font-family: "Jost";
    src: url(Jost-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "JosefinSans";
    src: url(JosefinSans-VariableFont_wght.ttf);
  }

body {
  background-color: #F5F5EE;
    max-width: 100%;
}

h1 {
  font-family: "Jost";
}

h2 {
  font-family: "Jost";
}

p {
  font-family: "Jost";
  size: 16px;
  font-weight: light;
}

.header {
  text-align: center;
  align-items: left;
  color: rgb(45, 32, 32);
}

.container {
  display: flex;
  justify-content: center;

}

button {
  background-color: rgb(169, 203, 169);
  width: 200px;
  height: 20px;
}

