* {
  box-sizing: border-box;
}


body {
  background-color: #F5F5EE;
    max-width: 100%;
    overflow-x: hidden;
}

header {
  width: 100%;
}


@font-face {
  font-family: "Jost";
  src: url(Jost-VariableFont_wght.ttf);
}


@font-face {
  font-family: "JosefinSans";
  src: url(JosefinSans-VariableFont_wght.ttf);
}


h1 {
  font-family: "Jost";
}

h2 {
  font-family: "Jost";
}

p {
  font-family: "Jost";
  size: 16px;
  font-weight: 100;
}


.header {
  padding: 5px; /* some padding */
  text-align: center;
  background: white;
  color: rgb(45, 32, 32);
  font-family: 'Courier New', Courier, monospace;
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

main {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  height: 70vh;
  justify-content: center;
  width: 100vw;
  margin-top: 5px;
}

article {
  background-color: #fff;
  margin-left: 122px;
  margin-right: 10px;
  text-align: center;
  transition: all 200ms ease;
  width: 12vw;
}
}

article:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

img {
  width: 200px;
  height: 200px;
  position: relative;
}

h2 {
  font-size: 1.2vw;
  margin-bottom: 5px;
}
